@import url("//hello.myfonts.net/count/395faa");
@font-face {
    font-family: 'Hex';
    src: url('webfonts/395FAA_0_0.eot');
    src: url('webfonts/395FAA_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/395FAA_0_0.woff2') format('woff2'), url('webfonts/395FAA_0_0.woff') format('woff'), url('webfonts/395FAA_0_0.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: "hex";
    font-weight: 500;
    letter-spacing: 3px;
    color: #fefefe !important;
    font-weight: bold !important;
}
/*----------------------------------Media Queries*/


@media (max-width:736px) {
    .main-page-image {
        width: 300px !important;
        height: 100px !important;
    }
}

@media(min-width:360px) and (max-width:823px) {
    .band-members-img {
        width: 120px;
        height: 120px;
    }
    .biography-container {
        padding: 15px !important;
    }
}

@media(max-width:375px) {
    .band-members-img {
        width: 120px;
        height: 120px;
        margin: 15px !important;
    }
}

@media(max-width:320px) {
    .biography-container {
        padding: 0px !important;
    }
}

/*---------------------------------------Buttons*/

.btn {
    color: #d0d0d0;
    background-color: crimson;
    border-radius: 50px;
    border-color: crimson;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#myBtn {
    padding: 10px;
    background: rgba(24, 24, 24, .7);
    box-shadow: inset 0 0 0 2px #b3b3b3;
    color: #b3b3b3;
    font-size: 13px;
    letter-spacing: .16em;
    border-width: 0;
    transition: 0.50s ease-in-out;
    -moz-transition: 0.50s ease-in-out;
    -webkit-transition: 0.50s ease-in-out;
    -o-transition: 0.50s ease-in-out;
}

#more {
    display: none;
}

/*------------------------------Header/NavBar*/

.dropdown-menu a:hover {
    background-color: green;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.social-links li a i:hover {
    color: rgba(90, 206, 54, 0.85);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.navbar-dark .navbar-toggler {
    border-color: #222222;
    opacity: 0.9;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu a {
    color: #d0d0d0;
}

.nav-logo {
    width: 130px;
    margin: 0px;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    color: #fafafa;
}

.nav-link:hover {
    color: #a39d9d;
}

nav.large {
    background: #222222;
    opacity: 0.9;
}

.nav-items {
    padding: 10px;
}

.social-links {
    padding-top: 7px;
    margin-top: 7px
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: green;
    background: #222222;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    position: relative;
}

.navbar-brand {
    margin-right: 3.5rem;
}

.navbar-nav {
    font-family: "hex" , sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fafafa;
}

/*-------------------------------------------MAIN Video Page*/

.main-page-image {
    width: 600px;
    height: 200px;
}

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/*---------------------------------------------Biography*/

.biography-img-container {
    width: 100%;
    height: 100%;
    background: url("../images/biography-main.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.biography-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.biography-container {
    color: #b3b3b3;
    padding: 25px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 500;
}

.biography-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.paragrath-links {
    color: #ffa500;
    transition: 0.50s ease-in-out;
    -moz-transition: 0.50s ease-in-out;
    -webkit-transition: 0.50s ease-in-out;
    -o-transition: 0.50s ease-in-out;
}

.fa-quotes {
    padding: 5px;
    color: green;
}

.little-line {
    color: green;
}

.jari-motto {
    font-size: 14px;
    font-family: "Crimson Text" sans-serif !important;
}

#myBtn:hover {
    font-size: 13px;
    padding: 15px;
    transition: 0.50s ease-in-out;
    -moz-transition: 0.50s ease-in-out;
    -webkit-transition: 0.50s ease-in-out;
    -o-transition: 0.50s ease-in-out;
    color: green;
}

.paragrath-links:hover {
    color: green;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    text-decoration: none;
    font-size: 17px;
}

/*-----------------------------------------------Band Members*/

.current--band-headder {
    text-transform: uppercase;
    margin-top: 50px;
}

.band-members-img {
    object-fit: cover;
    margin: 28px;
    border-radius: 100%;
    opacity: 0.8;
}

.current--band-column-w3 {
    display: inline-block;
}

.main-band--members-container {
    text-align: center;
}

.individual-member {
    font-family: "hex", sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.individual-member:hover {
    color: green;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



/*--------------------------------------Footer*/

footer {
    background-color: #222222;
    width: 100%;
    min-height: 60px;
}

.go-top {
    color: #d0d0d0;
    float: right;
    font-family: "hex", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
}

.email-icon {
    color: green;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.email-icon:hover {
    color: rgba(90, 206, 54, 0.85);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.top-arrow {
    color: green;
    font-size: 20px;
    margin-right: 10px;
}

.top-arrow:hover {
    color: rgba(90, 206, 54, 0.85);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.email-contact {
    color: #d0d0d0;
    margin-top: 6px;
    cursor: pointer;
    float: left;
    font-family: "hex", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
}

.email-icon {
    margin-right: 10px;
    font-size: 18px;
}

.list-inline {
    text-align: center;
}

/*-----------------------Mobile Footer*/

.mobile-top-arrow {
    font-size: 18px;
    margin-right: 10px;
    margin-top: 15px;
}

.mobile-email-contact {
    color: #d0d0d0;
    font-size: 15px;
    margin-top: -6px;
    font-family: "hex", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
}

.mobile-go-top {
    color: #d0d0d0;
    font-size: 15px;
    font-family: "hex", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
}

.mobile-email-icon {
    color: green;
    margin-right: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

.email-wrapper {
    margin-top: 10px;
}

/*----------------------------------------------Email Form*/

.modal-content {
    background: #222222;
    color: #d0d0d0;
    opacity: 0.9;
}

.text-muted {
    color: rgb(78, 73, 73);
}

.close {
    color: green;
}

.close:hover {
    color: rgba(90, 206, 54, 0.85);
}
